extends layout

block title
  title test
block head
  style.
    .red{
      background: #f00;
      width: 100px;
      height: 100px;
    }
    .gren{
      background: #0f0;
      width: 100px;
      height: 100px;
    }
block body
  div.red
  br
  div.red
