extends layout

block title
  title Alternative
block head
  script(src="https://code.jquery.com/jquery-3.1.1.min.js")
block body
  p vk api
  script(src="https://vk.com/js/api/openapi.js")
  //script(src="https://vk.com/js/api/xd_connection.js?2")
  script(src="js/vkApi.js")